@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

.background-image {
    position: absolute;
    /*width: 100%;*/
    height: fit-content;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.outline-tex {
    font: 800 250px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #34F5C6;
}

@media screen and (max-width: 768px){
    .outline-tex {
        font: 800 70px Arial;
        margin-top: 10px;
    }
}